{% load static %}

<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{% static 'AppData/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'AppData/style.css' %}">
</head>

<body>
    <div class="container d-flex justify-content-center mt-100">
        <div class="row">
            <div class="col-md-12">
                <h2>Please upload .mzML file to access SORT</h2>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="file-drop-area">
                        <span class="choose-file-button">
                            Choose files
                        </span>
                        <span class="file-message">
                            or drag and drop files here
                        </span>
                        <input class="file-input" type="file" name="sample" accept=".mzML,.raw" multiple>
                    </div>
                    <input class="submit-button" type="submit" />
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>Frequently Asked Questions</h3>
        <div class="accordion">
          <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false">
              <span class="accordion-title">What is SORT?</span>
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                SORT is an acronym that stands for <strong>Selective Organization of Reaction Traces</strong>. This tool can speed up the identification of ion types in Mass Spectra data. 
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-2" aria-expanded="false">
              <span class="accordion-title">How can I get my raw MS data to .mzML format?</span>
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                The following tutorial explains how to convert any MS vendor file to .mzML format using Protheowizard: <a href="https://youtu.be/Fg9zjEY-DPs?t=81">https://youtu.be/Fg9zjEY-DPs?t=81</a> 
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-3" aria-expanded="false">
              <span class="accordion-title">I uploaded a file, and nothing is happening.</span>
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                It can take a few minutes to process the data depending on the size of the file. We don't recommend uploading .mzML files that are bigger than <strong>100MB</strong> - unfortunately, the design of our system is not robust enough to support large files. However, we are working hard to provide this feature in the future!
              </p>
            </div>
          </div>
        </div>
      </div>
      <script>
        const items = document.querySelectorAll('.accordion button');

        function toggleAccordion() {
          const itemToggle = this.getAttribute('aria-expanded');
        
          for (i = 0; i < items.length; i++) {
            items[i].setAttribute('aria-expanded', 'false');
          }
        
          if (itemToggle == 'false') {
            this.setAttribute('aria-expanded', 'true');
          }
        }
        
        items.forEach((item) => item.addEventListener('click', toggleAccordion));
        
      </script>
</body>

</html>