{% load static %}

<html>

<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'AppData/sidebar.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" />
</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#" id="least">Least zeros</a>
                </li>
                <li>
                    <a href="#" id="great">Greatest area</a>
                </li>
                <li>
                    <a href="#" id="anomaly">Anomaly detection SOD</a>
                </li>
                <li>
                    <a href="#" id="download">Download results</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div id="information" class="infotext">
            <br><br>
            Hello there! This is a prototype website for anomaly detection in MS data developed as a bachelor project in 2022 at the University of Glasgow in collaboration with the University of Victoria. In the menu on the left, you can select anomaly detection method, or download results as an Excel sheet. If you have any feedback please report it to sara.kutkova@gmail.com
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <script>
                $(document).ready(() => {
                    (async() => {

                        var lz = {{lz}};
                        var ga = {{ga}};
                        var lz_anomaly = {{lz_anomaly}};
                        var ga_anomaly = {{ga_anomaly}};
                        var the_data = {{ sample|safe }};


                        var highlight_start = 450;
                        var highlight_end = 500;

                        

                        $('#anomaly').click(() => {
                            // SOD anomaly detection here
                        })

                        $('#least').click(() => {
                            document.getElementById("general_text").innerHTML = "The following plot shows the provided spectrum. The x-axis shows the m/z values and the y-axis indicates whether that trace was marked as an anomaly or not. This is a summary of the whole spectrum and can help you see the areas marked as interesting.<br><br>This plot is interactive - you can click on it and it will show you an intensity over time plot for m/z you clicked at. You can also click and drag to zoom in (for zooming out, double click anywhere in the plot).<br>";
                            document.getElementById("anomaly_text").innerHTML = "We used the <strong>Least Zeros</strong> method to select the following traces. This method picks traces with the most non-zero intensity values. If you are interested in our methodology, you can access more information <a href=https://gitlab.com/sarisko/individualproject>here</a>.<br>"
                            document.getElementById("information").innerHTML = "";

                            new Dygraph(
                                document.getElementById("div_0"),
                                lz_anomaly, {
                                    labels: ['X', 'Anomaly'],
                                    animatedZooms: true,
                                    title: "Distribution of anomalies samples in the spectrum",
                                    ylabel: 'Anomaly',
                                    xlabel: 'm/z',
                                    clickCallback: function(e, x, pts) {
                                        new Dygraph(
                                            document.getElementById("div_1"),
                                            the_data[x.toString()], {
                                                labels: ['Time', 'Intensity'],
                                                animatedZooms: true,
                                                title: "m/z: " + x.toString(),
                                                ylabel: 'Intensity',
                                                xlabel: 'Time',
                                                rollPeriod: 2,
                                                showRoller: true
                                            }
                                        );
                                    }
                                }
                            )


                            for (let i = 0; i < 30; i++) {
                                new Dygraph(
                                    document.getElementById("div_" + (i+2).toString()),
                                    the_data[lz[i].toString()], {
                                        labels: ['Time', 'Intensity'],
                                        animatedZooms: true,
                                        title: "m/z: " + lz[i].toString(),
                                        ylabel: 'Intensity',
                                        xlabel: 'Time',
                                        rollPeriod: 2,
                                        showRoller: true
                                    }
                                )
                            }
                        })
                        $('#great').click(() => {
                            document.getElementById("general_text").innerHTML = "The following plot shows the provided spectrum. The x-axis shows the m/z values and the y-axis indicates whether that trace was marked as an anomaly or not. This is a summary of the whole spectrum and can help you see the areas marked as interesting.<br><br>This plot is interactive - you can click on it and it will show you an intensity over time plot for m/z you clicked at. You can also click and drag to zoom in (for zooming out, double click anywhere in the plot).<br>";
                            document.getElementById("anomaly_text").innerHTML = "We used the <strong>Greatest Area</strong> method to select the following traces. If you are interested in our methodology, you can access more information <a href=https://gitlab.com/sarisko/individualproject>here</a>.<br>"
                            document.getElementById("information").innerHTML = "";

                            new Dygraph(
                                document.getElementById("div_0"),
                                ga_anomaly, {
                                    labels: ['X', 'Anomaly'],
                                    animatedZooms: true,
                                    title: "Distribution of anomalies samples in the spectrum",
                                    ylabel: 'Anomaly',
                                    xlabel: 'm/z',
                                    clickCallback: function(e, x, pts) {
                                        new Dygraph(
                                            document.getElementById("div_1"),
                                            the_data[x.toString()], {
                                                labels: ['Time', 'Intensity'],
                                                animatedZooms: true,
                                                title: "m/z: " + x.toString(),
                                                ylabel: 'Intensity',
                                                xlabel: 'Time',
                                                rollPeriod: 2,
                                                showRoller: true
                                            }
                                        );
                                    }
                                }
                            )


                            for (let i = 0; i < 30; i++) {
                                new Dygraph(
                                    document.getElementById("div_" + (i+2).toString()),
                                    the_data[ga[i].toString()], {
                                        animatedZooms: true,
                                        labels: ['Time', 'Intensity'],
                                        title: "m/z: " + lz[i].toString(),
                                        ylabel: 'Intensity',
                                        xlabel: 'Time',
                                        rollPeriod: 2,
                                        showRoller: true
                                    }
                                )
                            }
                        })

                        $('#download').click(() => {
                            window.location = "../../../media/{{filename}}.xlsx";
                        })



                    })()
                });
            </script>

            <div class="float-container">
                <div id="general_text" class="infotext"></div>
                {% for i in n %}
                    <div id="div_{{ i }}" class="float-child" style="width:500px; height:300px;"></div>
                    {%if i == 1%}
                        <div id="anomaly_text" class="infotext"></div>
                    {% endif %}
                {% endfor %}
            </div>

            <div>

            </div>


        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>

</html>